<nav class="navbar">
  <span id="toogle-action" class="navbar-toogle">
    <mat-icon>menu</mat-icon>
  </span>
<div>
    <span class="logo-image">
     <img src="../../../assets/img/newLogo.png" width="40px" alt="logo">
    </span>
    <span class="logo-title">Contactura</span>
</div>
  <ul class="main-nav" id="desktop-menu">
    <li class="nav-links">
      <a routerLink="/contact_list">Contatos</a>
    </li>
    <li class="nav-links">
      <a routerLink="/user_list">Usuarios</a>
    </li>
    <li class="nav-links">
      <a routerLink="/login">Logout</a>
    </li>
  </ul>
</nav>
